*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background: linear-gradient(135deg,#0b0b0f,#2d003a,#000);
  color:white;
}

/* Navbar */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 80px;

}

.logo{
  font-size:28px;
  font-weight:bold;
  color: white;
}

.nav-links{
  display:flex;
  gap:30px;
  list-style:none;
}

.nav-links li{
  cursor:pointer;
  opacity:.8; 
  color: white;
}

.nav-links li:hover{
  opacity:1;
}


/* Hero Section */
.hero{
  display:flex;
  align-items:center;
  justify-content:center;
  padding:80px;
  gap:60px;
  min-height:80vh;
}

.hero-img img{
  width:300px;
  filter: drop-shadow(0 0 20px #ff00ff);
  box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
}

.hero-content{
  max-width:500px;
}

.hero-content h1{
  font-size:48px;
  margin-bottom:20px;
}

.hero-content span{
  color:#ff00ff;
}

.hero-content p{
  color:#ccc;
  margin-bottom:25px;
}

.buttons{
  display:flex;
  gap:15px;
}

.btn{
  padding:12px 22px;
  border:none;
  border-radius:6px;
  background:#ff00ff;
  color:white;
  cursor:pointer;
  font-weight:bold;
}

.btn:hover{
  background:#d600d6;
}


/* Stats */
.stats{
  display:flex;
  justify-content:center;
  gap:80px;
  padding:50px;
  text-align:center;
}

.stats h2{
  color:#ff00ff;
  font-size:30px;
}


/* Responsive */
@media(max-width:768px){
  .hero{
    flex-direction:column;
    text-align:center;
  }

  .nav-links{
    display:none;
  }
}




